:root{
    --main-font:'sans serif';
    --font-size:16px;
    --main-color:#f7df1e;
    --second-colr:#222;
    --main-modal-color:rgba(247,222,30,0.85);
    --second-modal-color:rgba(34,34,34,0.85);
    --container-width:1200px;
}

html{
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflo-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/*******************MENU HAMBURGUESA ******************/

.header {
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-colr);
    z-index: 997;
}
.header h1{
    margin:0 auto;
    text-align: center;
}

.section {
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center;
}

.panel {
    position: fixed;
    z-index: 998;
    background-color: var(--second-modal-color);
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0, -100%);
    transition: transform 0.3s ease;
}
.panel.is-active {
    transform: translate(0,0);
}

.panel-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vh;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

.menu{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.menu a {
    width: inherit;
    padding: 2rem;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3ms ease;
}

.menu a:hover{
    font-weight: bold;
    color: var(--second-colr);
    background-color: var(--main-modal-color);
}

/******************* EVENTOS DEL TECLADO ******************/

.stage {
    display: flex;
    min-height: 50vh;
    background-color: var(--second-colr);
}

.ball {
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-color);
}

/******************* SCROLL TOP BOTTOM ******************/

.scroll-top-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: calc(4.25rem + 1vw);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--main-color);
    color:var(--second-colr);
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: all 300ms ease-in-out;
}
.scroll-top-btn:hover {
    background-color: var(--second-colr);
    color: var(--main-color);
}
.hidden{
    visibility: hidden;
    opacity: 0;
}


.dark-theme-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    left:1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--main-color);
    color:var(--second-colr);
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: all 300ms ease-in-out;
}
.dark-theme-btn:hover {
    background-color: var(--second-colr);
    color: var(--main-color);
}

.dark-mode {
    background-color: var(--second-colr);
    color:var(--main-color);
}

/* SEARCH FILTERS*/

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card {
    background-color: var(--second-color);
    color: var(--main-color);
    transition: all 0.3s ease-out;
}
.card-img {
    width: 100%;
    height: auto;
}

.filter {
    /* display: none */
    opacity: 0;
    visibility: hidden;
    order: 1;
}

/***************RESPOSIVE SLIDER***************/

.slider {
    position: relative;
    width:80%;
    margin: 0 auto;
    text-align: center;
}

.slider-slides{
    position: relative;
    height: 400px;
}

.slider-slide {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in;
}
.slider-slide img{
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: center;
}
.slider-slide.active{
    opacity: 1;
    visibility: visible;
}
.slider a {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: thin solid #000;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}
.slider a:hover{
    color: #4d4d4d;
}
.slider-btns{
    width: 100%;
    position: absolute;
    top:50%;
    display: flex;
    justify-content: space-between;
}
.slider-btns a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}

/*********************SCROLLSPY*******************************/

@media screen and (min-width: 1024px){
    body {
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 4rem auto;
        grid-template-areas: 
        "header header"
        "main panel";
    }

    main {
        grid-area: main;
    }
    .header {
        grid-area: header;
    }
    .panel {
        grid-area: panel;
        align-self: start;
        position: sticky;
        top: 4rem; 
        bottom: 0;       
        justify-content:flex-start ;
        background-color: var(--second-colr);
        transform: translate(0,0);
        opacity: 1;
        visibility: visible;
        overflow-y: auto;
    }
    .panel-btn{
        display: none;
    }
    .menu {
        justify-content: start;
        text-align: right;
    }
    .menu a {
        font-size: 1rem;
        padding: 0.75rem;
    }
    .menu a:hover,
    .menu a.active {
        color:var(--second-colr);
        background-color: var(--main-color);;
    }

}
    /*FORMULARIOS DE VALIDACION*/

    .contact-form{
        --form-ok-color: "#4caf50";
        --form-error-color: "#f44336";
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .contact-form > *{
        padding: 0.5rem;
        margin: 16px auto;
        display: block;
        width: 100%;
    }
    .contact-form textarea{
        resize: none;
    }

    .contact-form legend,
    .contact-form-response {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: content;
    }
    .contact-form input,
    .contact-form textarea{
        font-family: sans-serif;
    }
    .contact-form input[type="submit"]{
        width: 50%;
        font-weight: bold;
        cursor: pointer;
    }

    .contact-form [required]:valid {
        border: thin solid #4caf50;
    }
    .contact-form [required]:invalid {
        border: 1px solid #f44336;
        
    }



